.certificate {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 0;
  padding: 0;
}

.certificate a {
  margin: 0 auto;
  padding: 10px 20px;

  text-decoration: none;
  color: @black;

  &:hover {
    color: @marengo;

    transition-duration: 0.3s;
  }
}

.certificate__name {
  display: block;

  max-width: 265px;

  margin: 0 auto;
  padding: 0;
}
