.education__description {
  margin: 0;
  padding: 0;

  color: @marengo;
}

.education__description p {
  margin: 0;
  padding: 10px 0;
}

.education__html-academy {
  display: block;

  margin: 10px auto;
  padding: 10px 20px;

  width: 100%;

  background-color: @marengo;
  border: none;

  color: @white;

  @media (min-width: @mobil-to-tablet-width) {
    padding: 15px 30px;
  }
}
