.navigation {
  @media (min-width: @mobile-width) {
    &--opened {
      display: block;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.navigation__list a {
  margin: 0;
  padding: 0;

  color: @black;
}

.navigation__item {
  margin: 0 -20px;
  padding: 14px 15px;

  background-color: @white;
  border-top: 1px solid @light-black;
}
