.page-header {
  display: block;

  margin: 0 auto;
  padding: 0;

  width: 100%;

  background-color: @white;
}

.page-header__layout-container {
  display: flex;
  flex-direction: column;

  height: 60px;

  background-color: @marengo;

  // border-bottom: 1px solid @light-black;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    border: none;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;

  background-color: @marengo;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 15px;

  box-sizing: content-box;

  width: 30px;
  height: 30px;

  background-color: @marengo;
  border: none;

  cursor: pointer;

  &--nojs {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle span {
  position: relative;

  display: inline-block;

  width: 30px;
  height: 3px;

  vertical-align: bottom;

  background: @white;
}

.page-header__toggle--opened span,
.page-header__toggle--closed span {
  &::before,
  &::after {
    position: absolute;
    left: 0;

    width: 30px;
    height: 3px;

    content: "";

    background: @white;
  }
}

.page-header__toggle--opened span {
  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.page-header__toggle--closed span {
  background: none;

  &::before {
    top: 0;

    transform: rotate(45deg);
  }

  &::after {
    top: 0;

    transform: rotate(-45deg);
  }
}
