.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.portfolio__work {
  margin: 0 -20px;
  padding: 10px 20px;

  @media (min-width: @mobil-to-tablet-width) {
    margin: 0;
    padding: 15px 15px;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 15px;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  color: @black;

  &:hover {
    color: @marengo;

    transition-duration: 0.5s;
  }
}

.portfolio__image {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 320px;
  }

  @media (min-width: @tablet-to-desktop-width) {
    width: 340px;
  }
}

.portfolio__name {
  display: block;

  margin: 0;
  padding: 10px 0 0 0;
}
