.portfolio__layout-container {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1080px;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.portfolio__work {
  margin: 0 -20px;
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    width: 45%;
  }

  @media (min-width: @desktop-width) {
    width: 22%;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  color: @black;

  &:hover {
    color: @marengo;

    transition-duration: 0.5s;
  }
}

.portfolio__image {
  width: 100%;

  max-width: 420px;
}

.portfolio__name {
  display: block;

  margin: 0;
  padding: 10px 0 0 0;
}
